* {
	outline: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit
}

*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit
}

html {
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

body {
	height: 100%;
	color: #3B414D;
	font-family: sans-serif;
	letter-spacing: 0.03em
}

h3 {
	font-size: 15px;
	font-weight: 600
}

p {
	font-size: 82%
}

input::-webkit-input-placeholder {
	color: #cccccc
}

input::-moz-placeholder {
	color: #cccccc
}

input:-ms-input-placeholder {
	color: #cccccc
}

input:-moz-placeholder {
	color: #cccccc
}

.wrapper {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

header {
	-webkit-box-shadow: 0 0px 13px rgba(0, 0, 0, 0.06);
	box-shadow: 0 0px 13px rgba(0, 0, 0, 0.06);
	-webkit-box-flex: 0;
	width: 100%;
	overflow: hidden;
	z-index: 2;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	-ms-flex: 0 0 70px;
	flex: 0 0 70px
}

.container {
	position: relative;
	display: block;
	padding-left: 20px;
	padding-right: 20px
}

header>div {
	z-index: 2;
	height: 70px;
	margin: 0 auto;
	display: block;
	position: relative;
	overflow: hidden
}

header .middle {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%)
}

header .middle h3 {
	margin-bottom: 3px
}

header .middle p {
	margin-bottom: 0px;
	color: #9197a5
}

header .right {
	height: 70px;
	overflow: hidden;
	line-height: 70px;
	text-align: right;
	width: auto;
	float: right;
	position: relative
}

header .avatar {
	margin-left: 15px;
	display: inline-block;
	float: right
}

header .avatar img {
	vertical-align: middle;
	width: 30px;
	border-radius: 100%;
	height: 30px
}

header .settings {
	display: inline-block;
	float: left;
	position: relative
}

header .settings:after {
	content: "";
	background-color: #000;
	opacity: 0.2;
	height: 20px;
	width: 1px;
	margin-top: 25px;
	margin-left: 25px;
	display: inline-block;
	margin-right: 25px
}

header .username {
	display: inline-block;
	height: 70px;
	font-size: 14px;
	line-height: 72px;
	font-weight: 600
}

header .username img {
	width: 16px;
	float: left;
	height: 70px;
	opacity: 0.5
}

header .left {
	width: 130px;
	float: left;
	position: relative
}

header .left img {
	display: inline-block;
	height: 70px;
	width: 100%
}

.user-panel {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 20px
}

.online {
	background-color: #0182ff
}

.offline {
	background-color: #d0d0d0
}

.user-panel .avatar {
	text-align: center;
	position: relative
}

.user-panel .avatar .avatar-image {
	position: relative;
	width: 60px;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto
}

.user-panel .avatar img {
	width: 60px;
	border-radius: 100%;
	height: 60px
}

.user-panel .avatar .status {
	height: 16px;
	width: 16px;
	position: absolute;
	bottom: 2px;
	right: 2px;
	border-radius: 100%;
	border: 4px solid #ffffff
}

.user-panel p {
	color: #9197a5
}

.user-panel h3 {
	margin-bottom: 7px
}

.col-left .messages li {
	padding-top: 15px;
	width: 100%;
	display: block;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px
}

.col-left .messages li .avatar {
	position: relative
}

.col-left .messages li .avatar .avatar-image {
	position: relative;
	width: 40px;
	overflow: hidden;
	float: left;
	margin-right: 13px
}

.col-left .messages li .avatar .status {
	height: 12px;
	width: 12px;
	position: absolute;
	bottom: 2px;
	right: 2px;
	border-radius: 100%;
	border: 3px solid #ffffff
}

.col-left .messages li .avatar img {
	width: 36px;
	border-radius: 100%;
	height: 36px
}

.col-left .messages li:first-child {
	padding-top: 20px
}

.col-left .messages li:last-child {
	padding-bottom: 20px
}

.col-left .messages li p {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.col-left .messages h3 {
	margin-bottom: 7px
}

.col-left .messages p {
	margin-bottom: 0px;
	color: #9197a5
}

main {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.col-left {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 300px;
	flex: 0 0 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.col-right {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 300px;
	flex: 0 0 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.col {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 60%;
	flex: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.col-content {
	-webkit-box-flex: 1;
	padding: 0px;
	-ms-flex: 1;
	flex: 1;
	overflow-y: auto
}

.col-foot {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50px;
	flex: 0 0 50px
}

.message-sent,
.message-received {
	clear: both;
	position: relative
}

.message-sent::before,
.message-received::before,
.message-sent::after,
.message-received::after {
	content: '';
	display: table
}

[class^='grid-'] {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row
}

.grid-message>[class^='col-'] {
	margin-top: 1em;
	margin-right: 1em
}

.grid-message>[class^='col-']:nth-child(-n+1) {
	margin-top: 0
}

.grid-message>[class^='col-']:nth-child(1n) {
	margin-right: 0
}

.col-message-sent {
	margin-left: calc(8.33333333% + 0.08333333em) !important;
}

.col-message-received {
	margin-right: calc(8.33333333% + 0.08333333em) !important
}

.col-message-sent,
.col-message-received {
	width: calc(91.66666667% - 0.08235677em)
}

.message-sent,
.message-received {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	padding: 0.5em 0.6em
}

.message-sent p,
.message-received p {
	margin: 0;
	line-height: 1.5
}

.message-sent {
	float: right;
	color: white;
	background-color: #0181ff;
	border-radius: 0.5em 0.25em 0.25em 0.5em
}

.message-sent:first-child {
	border-radius: 0.5em 0.5em 0.25em 0.5em
}

.message-sent:last-child {
	border-radius: 0.25em 0.25em 0.5em 0.5em
}

.message-sent:only-child {
	border-radius: 0.5em
}

.message-received {
	float: left;
	color: black;
	background-color: #e6e6e6;
	border-radius: 0.25em 0.5em 0.5em 0.25em
}

.message-received:first-child {
	border-radius: 0.5em 0.5em 0.5em 0.25em;
	margin-top: 0px
}

.message-received:last-child {
	border-radius: 0.25em 0.5em 0.5em 0.5em
}

.message-received:only-child {
	border-radius: 0.5em
}

.col-message-sent,
.col-message-received {
	margin-top: 0.25em !important
}

.message {
	min-height: 40em;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	padding: 20px;
	max-height: 40em;
}

.wrapper-mobile {
	height: 100vh;
	display: none;
	position: relative;
	color: #9197a5;
	text-align: center;
	line-height: 22px
}

.wrapper-mobile .mobile {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%)
}

.wrapper-mobile .mobile img {
	width: 54px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px
}

.compose {
	padding: 20px;
	position: relative
}

.compose input {
	width: 100%;
	border: 0px;
	font-size: 17px;
	padding-right: 80px
}

.compose .compose-dock .dock {
	position: absolute;
	right: 25px;
	top: 20px
}

.compose .compose-dock img {
	width: 20px;
	margin-left: 12px;
	opacity: 0.2
}

.compose .compose-dock img:hover {
	opacity: 0.5
}

@media only screen and (max-width: 1250px) {
	.wrapper {
		display: none
	}
	.wrapper-mobile {
		display: block
	}
}
<<<<<<< HEAD
/* formLogin */
.formLogin__header{
    max-width: 1200px;
    padding: 30px;
}

.formLogin__header-navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.formLogin__header-img{
    text-align: center;
}

.formLogin__header-img-logo{
    width: 50px;
}

.formLogin__navbar-list{
    list-style: none;
    display: flex;
}

.formLogin__navbar-item{
    height: 50px;
    min-width: 100px;
}

.formLogin__item-link:hover .formLogin__item-link::before{
    
}

.formLogin__item-link:hover::after {
    background-color: #0a7cff;
}

.formLogin__item-link::after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    bottom: -5px;
    left: 0;
    right: 0;
    border-radius: 10px;
}

.formLogin__item-link{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 550;
    margin: 0 15px;
}

.formLogin__navbar-item:first-child .formLogin__item-link{
    margin-left: 0;
}

.formLogin__navbar-item:last-child .formLogin__item-link{
    margin-left: 0;
}

/* body */
.formLogin__body {
    display: flex;
    justify-content: space-between;
}

.formLogin__body-content {
    width: 440px;
}

.formLogin__content-sologan {
    font-size: 90px;
    font-weight: 500;
    letter-spacing: -4px;
    color: transparent;
    background-image: linear-gradient(
        83.84deg
        , #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
    -webkit-background-clip: text;
    background-clip: text;
}

.formLogin__content-description {
    margin-bottom: 38px;
    display: block;
    font-size: 20px;
}

.formLogin__content-form {

}

.formLogin__form-group {

}

.formLogin__group-input {
    display: block;
    width: 288px;
    height: 20px;
    padding: 8px 16px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
    background-color: #f5f5f5;
    outline: none;
}

.formLogin__group-input:focus {
    border: 1px solid #0a7cff;
}

.formLogin__group-btn {

}

.formLogin__group-btnLogin:hover {
    background-color: #4d4dff;
}

.formLogin__group-btnLogin {
    width: 137px;
    height: 44px;
    background-color: #0a7cff;
    border: none;
    border-radius: 35px;
    color: white;
    font-size: 18px;
    font-weight: 550;
    margin: 20px 0 12px 0;
}

.formLogin__group-btnResetPassword {
    color: #0a7cff;
    display: inline-block;
    margin: 0 0 26px 20px;
    font-size: 17px;
    font-weight: 550;
}

.formLogin__group-register{
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.formLogin__group-register:hover {
    color: #0a7cff;
}

.formLogin__group-savePW {
    margin: 24px 0;
    display: flex;
    align-items: center;
}

.formLogin__savePW-radio {
    position: relative;
    width: 12px;
    height: 12px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}

.formLogin__savePW-label {
    margin: 0 0 0 20px;
}

.formLogin__savePW-radio-icon{
    display: none;
}

.formLogin__savePW-radio--checked .formLogin__savePW-radio-icon {
    position: absolute;
    display: block;
    border-radius: 3px;
    color: #0a7cff;
    font-size: 16px;
    top: -2px;
    left: -1px;
}


.formLogin__form-download {
}

.formLogin_form-download-img {
    height: 44px;
    border-radius: 3px;
}

.formLogin__body-image-main {
    max-width: 600px;
}
.open{
    display: flex !important;
}
.register{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.register-container{
    position: relative;
    background: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
}
.register .register-header{
    background: #0088FF;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.register .register-close-icon {
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.register .register-close-icon{
opacity: 1;
}
.register-body{
    padding: 15px;
}
.register-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 24px;
}
#register-btn{
    background: #41A336;
    border-radius: 3px;
    border: none;
    font-size: 30px;
    padding: 5px;
    width: 100%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
#register-btn:hover{
    opacity: 0.8;
}